[Unit]
Description=Collect and Direct Arduino Data (TDS+Temperature)
After=network.target

[Service]
Type=simple
User=hackathon
WorkingDirectory=/home/hackathon/wtr
ExecStart=/bin/bash -c 'source /home/hackathon/wtr/venv/bin/activate && exec python3 /home/hackathon/wtr/arduiwithnotifs.py'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

